.rounded-md{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(61, 60, 88);
}

.immagine{
  height: 130px;
  width: 200px;
}

.flex {
  width: 100%;
}

.title {
  color: white;
}

.para {
  color: white;
}

span {
  color: white;
}